
	/* Centered texts in each section
	* --------------------------------------- */
.page {
		padding: 0px;
		margin: 0px;
		position: relative;
		width: 100%;
		clear: both;
		z-index: 1;
}

.home,
.stories,
.initiatives,
.history,
.share {
	min-height: 100%;
}


@keyframes hideshow {
  0% { opacity: 0.75; }
  10% { opacity: 0.5; }
  15% { opacity: 0.25; }
  100% { opacity: 0.15; }
}

.logo {margin: 0px auto; width: 800px;}

.logo img {margin-top: 20%;}

.home_overlay {z-index: 10;}

.bg_animation {
	z-index: -100;
}

.bg_top_1 {
  background-image: url(../images/top_left_1.png);
  animation: hideshow 2.1s 1.5s ease infinite;
	background-repeat: no-repeat;
  width: 100%;
  height: 100%;
	background-size: cover;
	position: absolute;
  top: 0;
  left: 0;
}

.bg_top_2 {
  background-image: url(../images/top_left_2.png);
  animation: hideshow 2.1s 1.7s ease infinite;
	background-repeat: no-repeat;
  width: 100%;
  height: 100%;
	background-size: cover;
	position: absolute;
  top: 0;
  left: 0;
}

.bg_top_3 {
  background-image: url(../images/top_left_3.png);
  animation: hideshow 2.1s 1.9s ease infinite;
	background-repeat: no-repeat;
  width: 100%;
  height: 100%;
	background-size: cover;
	position: absolute;
  top: 0;
  left: 0;
}

.bg_top_4 {
  background-image: url(../images/top_left_4.png);
  animation: hideshow 2.1s 2.1s ease infinite;
	background-repeat: no-repeat;
  width: 100%;
  height: 100%;
	background-size: cover;
	position: absolute;
  top: 0;
  left: 0;
}

.bg_bottom_1 {
  background-image: url(../images/bottom_right_1.png);
  animation: hideshow 3s 1.5s ease infinite;
	background-repeat: no-repeat;
  width: 100%;
  height: 100%;
	background-size: cover;
	position: absolute;
  top: 0;
  right: 0;
}

.bg_bottom_2 {
  background-image: url(../images/bottom_right_2.png);
  animation: hideshow 3s 1.7s ease infinite;
	background-repeat: no-repeat;
  width: 100%;
  height: 100%;
	background-size: cover;
	position: absolute;
  top: 0;
  right: 0;
}

.bg_bottom_3 {
  background-image: url(../images/bottom_right_1.png);
  animation: hideshow 3s 1.9s ease infinite;
	background-repeat: no-repeat;
  width: 100%;
  height: 100%;
	background-size: cover;
	position: absolute;
  top: 0;
  right: 0;
}

.bg_bottom_4 {
  background-image: url(../images/bottom_right_3.png);
  animation: hideshow 3s 2.1s ease infinite;
	background-repeat: no-repeat;
  width: 100%;
  height: 100%;
	background-size: cover;
	position: absolute;
  top: 0;
  right: 0;
}

.stories {}

.initiatives {}

.history {
	background-image: url(../images/past_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.past_intro {
	margin-left: 50%;
	width: 30%;
	padding-top: 15%;
}

.share {}

.share_intro {
  text-align: center;
  width: 30%;
  margin: 0px auto;
	padding-top: 10%;
	z-index: 10;
	position: relative;
}

  /*------------------------------------------------------*/
  /* RESPONSIVE
  /*------------------------------------------------------*/


@media only screen and (orientation: portrait) {
	.history {
		background-image: url(../images/past_bg_mobile.png);
	}

	.past_intro {
		margin: 0px auto;
		text-align: center;
		width: 80%;
	}

	.share .intro {
		text-align: center;
		width: 90%;
		margin: 0px auto;
	}
}

@media only screen and (max-width: 576px) {

	.logo img {width: 80%;}
	.logo {width: 80%; padding-top: 30%;}

	.history {
		background-image: url(../images/past_bg_mobile.png);
	}

	.past_intro {
		text-align: center;
		width: 80%;
		margin: 0px auto;
		padding: 100px 0px;
	}

	.share_intro {
		text-align: center;
		width: 80%;
		margin: 0px auto;
		padding: 100px 0px;
	}

	.home {
		min-height: 100%;
	}

	.stories {
		min-height: 70%;
	}

	.initiatives {
		min-height: 70%;
	}

	.history {
		min-height: 50%;
	}

	.share {
		min-height: 70%;
	}

}


@media (min-width: 577px) and (max-width: 980px) {


	.logo img {width: 400px;}
	.logo {width: 400px;}

	.history {
		background-image: url(../images/past_bg_mobile.png);
		background-color: #000;
	}

	.share_intro {
		text-align: center;
		width: 400px;
		margin: 0px auto;
	}


}
