
/* Reset CSS
 * --------------------------------------- */
 body, html {
   height: 100%;
   margin: 0px;
   padding: 0px;
 }

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}

a{
	text-decoration:none;
  border: solid 1px #fff;
	padding: 10px 20px;
	font-weight: bold;
	width: 150px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 10px;
	color: #fff;
	font-size: 15px;
  letter-spacing: 1px;
  text-decoration: none;
}

a:hover {
  color: #ff7800;
  text-decoration: none;
}

table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4 {
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  margin:0;
  padding:0;
}

h5,h6 {
  font-family: 'Open Sans', sans-serif;
  margin:0;
  padding:0;
}

q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

/* Custom CSS
 * --------------------------------------- */
body{
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #fff;
}

.section{ }

.intro {z-index: 10000;}

#overlay{
  position:fixed;
  z-index: 100000000000000;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:rgba(0,0,0,1);
  transition: 1s 0.4s;
}
#progress{
  height:5px;
  background:#fff;
  position:absolute;
  width: 50%;
  top:50%;
}
#progstat{
  font-size:0.7em;
  letter-spacing: 3px;
  position:absolute;
  top:50%;
  margin-top:-40px;
  width:100%;
  text-align:center;
  color:#ff7800;
}

 /* Style for our header texts
	* --------------------------------------- */

 p {font-size: 16px;}

	h1{
    font-size: 50px;
		color: #fff;
    text-transform: uppercase;
	}

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
    color: #ff7800;
    text-transform: uppercase;
  }

  h4 {
    font-size: 18px;
    color: #67f2ff;
    text-transform: uppercase;
  }

  h5 {
    font-size: 18px;
    color: #fff;
  }

  /* Menu
   * --------------------------------------- */

  #menu li {
  	display:inline-block;
  	margin: 10px 5px;
  }

  #menu li.active{background-color: #ff7800;}

  #menu li a{
  	text-decoration:none;
    font-size: 12px;
    padding: 5px 15px;
    width: auto;
    margin: 0px;
  }

  #menu li.active a:hover{
  }

  #menu li:hover a:hover{
    background-color: #67f2ff;
    color: #000;
  }

  #menu li a,
  #menu li.active a{

  	display:block;

  }

  #menu li.active a{
  	color: #fff;
  }

  #menu{
  	position: fixed;
  	top: 0;
  	left: 0;
  	height: 50px;
  	z-index: 50;
  	width: 100%;
  	padding: 0;
  	margin:0;
    background-color: #000;
    overflow: hidden;
    display: block;
  }

  #menuToggle {
    display: none;
  }



  /*------------------------------------------------------*/
  /* RESPONSIVE
  /*------------------------------------------------------*/


@media only screen and (max-width: 576px) {

    h1{
      font-size: 25px;
    }

    h2 {
      font-size: 14px;
    }

    h3 {
      font-size: 12px;
    }

    h4 {
      font-size: 20px;
    }

    p {font-size: 12px;}

    .logo {left: 10%;}

    .logo img {
      width: 100%;
    }

    #menu{
      display: none;
    }

    /* Hamburger Menu
     * --------------------------------------- */

  #menuToggle {
    display: block;
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 100000000000;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #fff;
    border-radius: 3px;
    z-index: 10000000000000;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #fff;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu_burger {
    position: absolute;
    width: 100%;
    margin: -50px -20px;
    padding: 20px;
    padding-top: 50px;
    background: #000;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  #menu_burger li {
    padding: 10px 0;
    font-size: 22px;
  }

  #menuToggle input:checked ~ ul
  {
    transform: none;
  }

  }

  @media (min-width: 577px) and (max-width: 980px){

    h1{
      font-size: 40px;
    }

    h2 {
      font-size: 14px;
    }

    h3 {
      font-size: 12px;
    }

    h4 {
      font-size: 25px;
    }

    p {font-size: 12px;}

  }


  @media (min-width: 981px) and (max-width: 1200px){

    h1{
      font-size: 50px;
    }

    h2 {
      font-size: 18px;
    }

    h3 {
      font-size: 15px;
    }

    h4 {
      font-size: 40px;
    }

    p {font-size: 14px;}
  }
