@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}

html, body {min-height: 100%;}

a{
	text-decoration:none;
  border: solid 1px #fff;
	padding: 10px 20px;
	font-weight: bold;
	width: 150px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 10px;
	color: #fff;
	font-size: 15px;
  letter-spacing: 1px;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

table {
    border-spacing: 0;
}

fieldset,img {
    border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}

strong{
	font-weight: bold;
}

ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}

caption,th {
    text-align: left;

}

h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  margin:0;
  padding:0;
}

q:before,q:after {
    content:'';
}

abbr,acronym { border: 0;
}

/* Custom CSS
 * --------------------------------------- */
body{
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #f2f2f2!important;
}

.section{ }

 /* Style for our header texts
	* --------------------------------------- */
  h1{
	  font-size: 80px;
		color: #ff7800;
    text-transform: uppercase;
	}

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
    color: #ff7800;
    text-transform: uppercase;
  }

  h4 {
    font-size: 55px;
    color: #67f2ff;
    text-transform: uppercase;
  }

  /* History page
	* --------------------------------------- */

.history_bg {
  background-color: #000;
  display: block;
  width: 100%;
  float: left;
  clear: both;
}

.history_bg_aqua {
  background-color: #67f2ff;
  padding: 5%;
  display: block;
  width: 100%;
  float: left;
  clear: both;
}

.history_bg_orange {
  background-color: #ff7800;
  padding: 5%;
  display: block;
  width: 100%;
  float: left;
  clear: both;
}


.history_bg_aqua .history_title h1,
.history_bg_orange .history_title h1 {
  color: #000;
  text-transform: none;
  margin: 0px;
  padding: 0px;
  font-size: 80px;
}

.history_bg_aqua .history_title h2,
.history_bg_orange .history_title h2 {
  color: #000;
  text-transform: none;
  margin: 0px;
  padding: 0px;
  font-size: 40px;
}


.history_wrapper {background-color: #000;}

.history_intro {
  float:left;
  width: 50%;
  padding-bottom: 5%; /* = width for a 1:1 aspect ratio */
  background-color: #1E1E1E;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.history_intro h2 {font-size: 40px;}

.history_intro_1 {
  position: relative;
  background: url(../images/history_intro_1.png) no-repeat left center;
}

.history_intro_2 {
  position: relative;
  background: url(../images/history_intro_2.png) no-repeat left center;
}

.history_intro_title {
  margin: 10%;
  padding: 20px;
  min-height: 200px;
}



.visitor_intro {}

.visitor_intro h1 {
  color: #000;
  text-transform: none;
  margin: 0px;
  padding: 0px;
  font-size: 80px;
}

.visitor_title_wrapper {
  padding: 50px;
}

.visitor_title {
  min-height: 400px;
}

.visitor_title h1 {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  font-size: 35px;
}

.visitor {
  float:left;
  width: 33%;
  background-color: #1E1E1E;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.visitors_1 {
  position: relative;
  background: url(../images/visitor_1.png) no-repeat left center;
}

.visitors_2 {
  position: relative;
  background: url(../images/visitor_2.png) no-repeat center center;
}

.visitors_3 {
  position: relative;
  background: url(../images/visitor_3.png) no-repeat center center;
}

.visitors_4 {
  position: relative;
  background: url(../images/visitor_4.png) no-repeat center center;
}

.visitors_5 {
  position: relative;
  background: url(../images/visitor_5.png) no-repeat center center;
}

.visitors_6 {
  position: relative;
  background: url(../images/visitor_6.png) no-repeat right center;
}

.history_quiz_wrapper {
  padding: 10px;
}

.history_quiz_title {
  min-height: 500px;
}

.history_quiz_title h1 {
  font-size: 200px;
}

.history_quiz {
  float:left;
  width: 33%;
  background-color: #1E1E1E;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.history_quiz_1 {
  position: relative;
  background: url(../images/history_quiz_1.png) no-repeat left center;
}

.history_quiz_2 {
  position: relative;
  background: url(../images/history_quiz_2.png) no-repeat center center;
}

.history_quiz_3 {
  position: relative;
  background: url(../images/history_quiz_3.png) no-repeat center center;
}

.history_quiz_4 {
  position: relative;
  background: url(../images/history_quiz_4.png) no-repeat center center;
}

.history_quiz_5 {
  position: relative;
  background: url(../images/history_quiz_5.png) no-repeat center center;
}

.history_quiz_6 {
  position: relative;
  background: url(../images/history_quiz_6.png) no-repeat right center;
}


.interview_banner_cybele {
  background: url(../images/Cybele_Banner.png) no-repeat left center;
  float:left;
  width: 100%;
  background-color: #1E1E1E;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 15% 5%;
}

.interview_banner_barbara {
  background: url(../images/Barbara_Banner.png) no-repeat left center;
  float:left;
  width: 100%;
  background-color: #1E1E1E;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 15% 5%;
}

.interview_banner_lees {
  background: url(../images/Lees_Banner.png) no-repeat left center;
  float:left;
  width: 100%;
  background-color: #1E1E1E;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 15% 5%;
}
