
.history_bg {
  background-color: #000;
  display: block;
  width: 100%;
  float: left;
  clear: both;
}

.history_bg_aqua {
  background-color: #000;
  padding: 5%;
  display: block;
  width: 100%;
  float: left;
  clear: both;
}

.history_bg_aqua h1 {
  color: #67f2ff;
}

.history_bg_orange {
  background-color: #000;
  padding: 5%;
  display: block;
  width: 100%;
  float: left;
  clear: both;
}

.history_bg_orange h1 {
  color: #ff7800;
}


.history_bg_aqua .history_title h1,
.history_bg_orange .history_title h1 {
  text-transform: none;
  margin: 0px;
  padding: 0px;
}

.history_bg_aqua .history_title h2,
.history_bg_orange .history_title h2 {
  text-transform: none;
  margin: 0px;
  padding: 0px;
}


.history_wrapper {background-color: #000;}

.history_intro {
  float:left;
  width: 100%;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.history_intro h2 {}

.history_intro_1 {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  background-attachment: fixed;
  background-image: url(../images/history_intro_1.png);
  width: 100%;
  height: 0;
  padding-top: 52%;
}

.history_intro_title {
  position: absolute;
  top: 15%;
  left: 5%;
}

.visitor_intro {}

.visitor_title_wrapper {
  padding: 50px;
}

.visitor_title {
  min-height: 400px;
}

.visitor_title h1 {
  font-size: 35px;
  color: #67f2ff;
}

.visitor {
  float:left;
  width: 33%;
  background-color: #1E1E1E;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.visitors_1 {
  position: relative;
  background: url(../images/visitor_1.png) no-repeat left center;
}

.visitors_2 {
  position: relative;
  background: url(../images/visitor_2.png) no-repeat center center;
}

.visitors_3 {
  position: relative;
  background: url(../images/visitor_3.png) no-repeat center center;
}

.visitors_4 {
  position: relative;
  background: url(../images/visitor_4.png) no-repeat center center;
}

.visitors_5 {
  position: relative;
  background: url(../images/visitor_5.png) no-repeat center center;
}

.visitors_6 {
  position: relative;
  background: url(../images/visitor_6.png) no-repeat right center;
}

.history_quiz_wrapper {
  padding: 10px;
}

.history_quiz_title {

}

.history_quiz_title h1 {
  font-size: 200px;
}

.history_quiz {
  width: 100%;
  height: 0;
  padding-top: 52%;
}

.history_quiz_1 {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  background-attachment: relative;
  background-image: url(../images/history_quiz_1.png);

}

.history_quiz_2 {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  background-attachment: relative;
  background-image: url(../images/history_quiz_2.png);
}

.history_quiz_3 {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  background-attachment: relative;
  background-image: url(../images/history_quiz_3.png);
}

.history_quiz_4 {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  background-attachment: relative;
  background-image: url(../images/history_quiz_4.png);
}

.history_quiz_5 {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  background-attachment: relative;
  background-image: url(../images/history_quiz_5.png);
}

.history_quiz_6 {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  background-attachment: relative;
  background-image: url(../images/history_quiz_6.png);
}

.interveiw_subpages {background-color: #000;}

.interview_image {
  float:left;
  width: 100%;
  height: 0;
  margin-top: 50px;
  padding-top: 66.3%;
  background-color: #1E1E1E;

}

.interview_banner_cybele {
  background: url(../images/Cybele_Banner.png) no-repeat left center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.interview_banner_barbara {
  background: url(../images/Barbara_Banner.png) no-repeat left center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.interview_banner_lees {
  background: url(../images/Lees_Banner.png) no-repeat left center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (orientation: portrait) {

  .history_intro_title {
    top: 0%;
  }

  .history_intro_1 {
    background-attachment: relative;
    background-image: url(../images/history_intro_1.png);
  }

  .visitor {
    width: 100%;
  }

}

@media only screen and (max-width: 576px) {

  .history_intro_title {
    top: 0%;
  }

  .history_intro_1 {
    background-attachment: relative;
    background-image: url(../images/history_intro_1.png);
  }

  .visitor {
    width: 100%;
  }

  .interview_image {
    margin-top: 0px;
    padding-top: 45%;
  }

  .history_intro_1 {
    padding-top: 35%;
  }

  .history_intro_title {
    position: absolute;
    top: 10%;
    left: 5%;
  }


}

@media (min-width: 577px) and (max-width: 1000px) {

  .history_intro_title {
    top: 15%;
  }

  .history_intro_1 {
    background-attachment: relative;
    background-image: url(../images/history_intro_1.png);
  }

  .visitor {
    width: 50%;
  }


}

@media only screen and (min-width: 1200px) {

  .interview_image {
    padding-top: 35%;
  }

}
